@import 'utils/variables';
@import 'utils/mixins';
@import 'components/header';
@import 'components/mobile-menu';
@import 'components/footer';
@import 'components/portfolio-header';
@import 'components/portfolio';
@import 'components/main-index';
@import 'components/lorem';
@import 'components/what-section';
@import 'components/team';
@import 'components/clients';

body {
  font-family: $main-font, sans-serif;
  background: $white-color;
  color: $text-color;
  font-weight: 500;
}
ul {
  list-style-type: none;
  padding: 0%;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  @include desktop {
    // max-width: 1200px;
  }
}

label {
  margin-bottom: 8px;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
