.clients {
  &__ul {
    display: flex;
  flex-wrap: wrap;
  margin: -15px;

  }
  
&__li{
  flex-basis: calc((100% - 30px * 2) / 2);
    margin: 15px;
    @include tablet{
       flex-basis: calc((100% - 30px * 3) / 3);
    }
    @include desktop{
       flex-basis: calc((100% - 30px * 6) / 6);
    }
 
}
  &__h2 {
    margin-bottom: 50px;
  }

  &__icon {
    outline: 1px auto $footer-color;
    fill: $footer-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, outline-color;
    height: 92px;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      width: 226px;
      height: 92px;
    }

    @include desktop {
      width: 170px;
      height: 92px;
    }
    &:hover {
      fill: $blue-color;
      outline-color: $blue-color;
    }
    &:focus {
      fill: $blue-color;
      outline-color: $blue-color;
    }
  }
}
