.header {
  background: $white-color;
  border-bottom-color: $border-bottom;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 16px 0px 16px 0px;
  //position: relative;
  height: 60px;
  @include tablet {
    height: 80px;
  }
  &__mobile {
    @include tablet {
      display: none;
    }
  }
  &__second {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__third {
    display: none;
    @include tablet {
      display: block;
    }
  }
  &__navigation-ul {
    display: none;

    @include tablet {
      display: flex;
      justify-content: space-between;
      gap: 60px;
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    @include desktop {
      gap: 46px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &__addres-li {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
    }
  }
  &__navigation {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__flex {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    width: 100%;
    height: 100%;
    background-color: $white-color;
  }
  &__logo {
    font-family: $logo-font, sans-serif;
    text-decoration: none;
    color: inherit;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &:hover {
      color: $blue-color;
    }
    &:focus {
      color: $blue-color;
    }
    @include tablet {
      padding-top: 10px;
    }
  }
  &__web {
    color: $blue-color;
  }
  &__studio {
    color: $black-color;
  }

  &__main-ikon-envelope {
    @include tablet {
      fill: currentColor;
      vertical-align: middle;
      padding: 0px;
      margin-right: 8px;
    }
    @include desktop {
      margin-right: 10px;
    }
  }

  @include tablet {
    &__main-ikon-smartphone {
      fill: currentColor;
      vertical-align: middle;
      padding: 0px;
      margin-right: 10px;
    }

    &__index {
      text-decoration: none;
      color: inherit;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color;
      font-size: 14px;
      line-height: 1.14;
      &:hover {
        color: $blue-color;
      }
      &:focus {
        color: $blue-color;
      }
    }

    &__portfolio {
      text-decoration: none;
      color: inherit;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color;
      font-size: 14px;
      line-height: 1.14;
      &:hover {
        color: $blue-color;
      }
      &:focus {
        color: $blue-color;
      }
    }
    &__contact {
      text-decoration: none;
      color: inherit;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color;
      font-size: 14px;
      line-height: 1.14;
      &:hover {
        color: $blue-color;
      }
      &:focus {
        color: $blue-color;
      }
    }

    &__is-active {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        background: $blue-color;
        border-radius: 2px;

        width: 100%;
        height: 4px;
        margin-top: 16px;
        display: block;
        @include desktop {
          margin-top: 26px;
        }
      }
    }
  }

  &__e-mail {
    @include tablet {
      text-decoration: none;
      color: $silver-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color, fill;
      font-size: 12px;
      line-height: 1.14;
      &:hover {
        color: $blue-color;
        fill: $blue-color;
      }
      &:focus {
        color: $blue-color;
        fill: $blue-color;
      }
    }
    @include desktop {
      font-size: 14px;
      color: $black-color;
    }
  }

  &__telephone {
    @include tablet {
      text-decoration: none;
      color: $silver-color;
      font-size: 12px;
      line-height: 1.14;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: color, fill;
      &:hover {
        color: $blue-color;
        fill: $blue-color;
      }
      &:focus {
        color: $blue-color;
        fill: $blue-color;
      }
    }
    @include desktop {
      font-size: 14px;
      color: $black-color;
    }
  }
}
