.lorem {
  padding-bottom: 0px;

  &__ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 0px;
    margin-bottom: 0px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include desktop {
      gap: 30px;
    }
  }

  &__li {
      
    @include tablet {
      flex-basis: (calc(100% - 90px))/2;
    }
    @include desktop {
      flex-basis: (calc(100% - 90px))/4;
    }
  }

  &__icon {
    outline: 1px dashed $whiter-color;
    background-color: $whiter-color;
    display: inline-block;
    height: 120px;
    width: 100%;
    display: grid;

    //padding-left: 38%;
   // padding-top: 7%;
   
 

    @include tablet {
      width: 354px;
      height: 120px;
      //padding-left: 142px;
      //padding-top: 25px;
    }

    @include desktop {
      width: 270px;
      height: 120px;
      //padding-left: 100px;
      //padding-top: 25px;
    }
  }

  &__h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: inherit;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    @include tablet {
      text-align: left;
    }
    @include desktop {
      text-align: left;
    }
  }

  &__p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $silver-color;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;

    @include tablet {
      width: 354px;
    }

    @include desktop {
      width: 270px;
    }
  }
}
