.team {
  margin-left: 0px;
  margin-right: 0px;
  background: $whiter-color;

  &__h2 {
    font-size: 28px;

    @include desktop {
      font-size: 36px;
      line-height: 1.16;
    }
  }

  &__list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include desktop {
      gap: 30px;
      margin-top: 50px;
    }
  }

  &__li {
    //margin-top: 30px;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px 0px rgba(0, 0, 0, 0.2);

    @include tablet {
      flex-basis: (calc(100% - 90px) / 2);
    }
    @include desktop {
      flex-basis: (calc(100% - 90px) / 4);
    }
  }

  &__figure {
    background: $white-color;
    margin: 0px;
  }
  &__image {
    width: 450px;
    height: 460px;
    @include tablet {
      width: 354px;
      height: 374px;
    }

    @include desktop {
      width: 270px;
      height: 260px;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;

    & :hover {
      fill: #2196f3;
    }
    &:focus {
      fill: #2196f3;
    }
  }

  &__social-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding-left: 122px;
    padding-right: 122px;
    margin-top: 16px;

    @include tablet {
      padding-left: 74px;
      padding-right: 74px;
    }
    @include desktop {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__signature-position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  &__signature-inside {
    margin-bottom: 10px;
    line-height: 1.19;
  }
  &__job-position {
    font-style: normal;
    font-weight: 400;
    color: $silver-color;
  }
  &__social-icon {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    & use {
      fill: $footer-color;
    }
    &:hover use {
      fill: $portfolio-div-color;
    }
    &:focus use {
      fill: $portfolio-div-color;
    }
    &:hover .team__circle-social-icon {
      fill: $blue-color;
    }
    &:focus .team__circle-social-icon {
      fill: $blue-color;
    }
  }
}
