$text-color: #212121;
$theme-color: #e5e5e5;
$blue-color: #2196f3;
$white-color: #ffffff;
$grey-color: #2f303a;
$black-color: #000000;
$whiter-color: #f5f4fa;
$silver-color: #757575;
$portfolio-div-color: #eeeeee;
$border-bottom: #ececec;
$footer-color: #afb1b8;
$main-font: 'Roboto';
$logo-font: 'Raleway';
